.welcome-message {
    width: 367px;
    height: 149px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    text-align: center;
    color: #1A0040;
    font-size: 39px;
    font-weight: 700;
    word-wrap: break-word;
}

.button-container {
    display: flex; /* Utilise flexbox pour aligner les éléments fils */
    justify-content: space-evenly; /* Répartit l'espace également entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    width: 390px; /* Définissez la largeur pour contenir les deux boutons */
    left: 0px;
    top: 587px; /* Ajustez cette valeur en fonction de la position souhaitée dans le conteneur principal */
    align-content: center;
}

.button, .button-outline {
    width: 145px; /* Largeur fixe pour chaque bouton */
    height: 51px; /* Hauteur fixe pour chaque bouton */
    background: #9190DC;
    border-radius: 42px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 51px; /* Alignement vertical du texte à l'intérieur du bouton */
    cursor: pointer; /* Change le curseur en main quand survolé */
    text-decoration: none;
}

.button-outline {
    background: white;
    color: #9190DC;
    border: solid 1px #9190DC; /* Ajoute une bordure pour le bouton 'S'inscrire' pour le distinguer */
}

.placeholder-image {
    width: 201px;
    height: 179px;
    left: 98px;
    top: 304px;
    align-content: center;
}