.placeholder-image {
    max-width: 12%;
    height: auto;
    left: 50%;
    top: 15vh; /* Centre verticalement */
    transform: translate(-50%); /* Centre horizontalement et verticalement */
}

.connexion {
    top: 42vh;
}

.overlap {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'image parfaitement dans le logo-background */
    background-color: #d9d9d9;
    border-radius: 20px; /* Ajoute des coins arrondis de 20px */
    width: 25%;
    height: 3em;
}

.overlap-2 {
    position: absolute;
    top: 65vh;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'image parfaitement dans le logo-background */
    background-color: #d9d9d9;
    border-radius: 20px; /* Ajoute des coins arrondis de 20px */
    width: 25%;
    height: 3em;
}

.text-input {
    width: 100%; /* Take up all available space in the container */
    height: 100%; /* Full height to match the container */
    border: none; /* Remove default border */
    background-color: transparent; /* Transparent background */
    border-radius: 20px; /* Rounded corners like the container */
    padding: 0 20px; /* Padding on left and right */
    font-family: "Outfit-Bold", Helvetica;
    font-size: 1vw; /* Matching font size */
    color: #000; /* Text color */
}

.button {
    width: 145px; /* Largeur fixe pour chaque bouton */
    height: 51px; /* Hauteur fixe pour chaque bouton */
    background: #9190DC; /* Couleur de fond */
    border: none; /* Enlève toute bordure */
    border-radius: 42px; /* Coins arrondis */
    text-align: center; /* Texte centré */
    color: white; /* Couleur du texte */
    font-size: 20px; /* Taille de la police */
    font-weight: 700; /* Poids de la police */
    line-height: 51px; /* Alignement vertical du texte à l'intérieur du bouton */
    cursor: pointer; /* Change le curseur en main quand survolé */
    text-decoration: none; /* Enlève toute décoration de texte */
}

.button-container {
    display: flex; /* Utilise flexbox pour aligner les éléments fils */
    justify-content: space-evenly; /* Répartit l'espace également entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    position: absolute; /* Positionnement absolu par rapport à son conteneur le plus proche */
    left: 50%; /* Position horizontale au milieu */
    top: 77vh; /* Position verticale */
    transform: translateX(-50%); /* Décalage horizontal pour centrer parfaitement */
    width: 390px; /* Largeur suffisante pour contenir les deux boutons */
}

.button:hover {
    background: #9190DC; /* Gardez la couleur de fond inchangée */
    color: white; /* Maintenez la couleur du texte */
    text-decoration: none; /* Enlève toute décoration de texte */
}



@media screen and (max-width: 700px) {
    .connexion {
        font-size: 40px;
    }

    .overlap{
        width: 282px;
        height: 39px;
    }
    .overlap-2{
        width: 282px;
        height: 39px;
    }

    .placeholder-image{
        max-width: 25%;
        height: auto;
    }
}