.iphone {
    background-color: #eaeced;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .iphone .div {
    background-color: #eaeced;
    width: 390px;
    height: 844px;
    position: relative;
  }
  
  .iphone .header {
    position: absolute;
    width: 390px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #1a0040;
  }
  
  .iphone .logo {
    position: relative;
    width: 226px;
    height: 41px;
    top: 50px;
    left: 141px;
  }
  
  .iphone .overlap-group {
    position: absolute;
    width: 109px;
    height: 41px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 76px;
  }
  
  .iphone .logo-omnes-education {
    position: absolute;
    width: 89px;
    height: 23px;
    top: 10px;
    left: 10px;
    object-fit: cover;
  }
  
  .iphone .navbtn {
    position: absolute;
    width: 43px;
    height: 27px;
    top: 10px;
    left: 183px;
  }
  
  .iphone .rectangle {
    position: absolute;
    width: 43px;
    height: 7px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 21px;
  }
  
  .iphone .rectangle-2 {
    position: absolute;
    width: 43px;
    height: 7px;
    top: 10px;
    left: 0;
    background-color: #ffffff;
    border-radius: 21px;
  }
  
  .iphone .rectangle-3 {
    position: absolute;
    width: 43px;
    height: 7px;
    top: 20px;
    left: 0;
    background-color: #ffffff;
    border-radius: 21px;
  }
  
  .iphone .ellipse {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 130px;
    left: 140px;
    background-color: #ffffff;
    border-radius: 55px;
  }
  
  .iphone .overlap {
    position: absolute;
    width: 137px;
    height: 33px;
    top: 263px;
    left: 127px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  .iphone .text-wrapper {
    position: absolute;
    width: 107px;
    top: 5px;
    left: 16px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .iphone .div-wrapper {
    position: absolute;
    width: 137px;
    height: 33px;
    top: 319px;
    left: 127px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  .iphone .overlap-2 {
    position: absolute;
    width: 245px;
    height: 33px;
    top: 375px;
    left: 72px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  .iphone .text-wrapper-2 {
    position: absolute;
    width: 107px;
    top: 6px;
    left: 68px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .iphone .overlap-3 {
    position: absolute;
    width: 245px;
    height: 33px;
    top: 431px;
    left: 72px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  .iphone .text-wrapper-3 {
    position: absolute;
    width: 107px;
    top: 5px;
    left: 68px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .iphone .overlap-4 {
    position: absolute;
    width: 303px;
    height: 63px;
    top: 478px;
    left: 43px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  .iphone .text-wrapper-4 {
    position: absolute;
    width: 107px;
    top: 19px;
    left: 13px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .iphone .rectangle-4 {
    position: absolute;
    width: 72px;
    height: 44px;
    top: 11px;
    left: 221px;
    background-color: #d9d9d9;
  }
  
  .iphone .overlap-5 {
    position: absolute;
    width: 203px;
    height: 40px;
    top: 711px;
    left: 92px;
    background-color: #1a0040;
    border-radius: 18px;
  }
  
  .iphone .p {
    position: absolute;
    width: 203px;
    top: 9px;
    left: 0;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .iphone .overlap-6 {
    position: absolute;
    width: 109px;
    height: 28px;
    top: 781px;
    left: 140px;
    background-color: #8080d7;
    border-radius: 8px;
  }
  
  .iphone .text-wrapper-5 {
    position: absolute;
    width: 105px;
    top: 3px;
    left: 2px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .iphone .overlap-7 {
    position: absolute;
    width: 303px;
    height: 112px;
    top: 559px;
    left: 45px;
    background-color: #ffffff;
    border-radius: 13px;
  }
  
  .iphone .text-wrapper-6 {
    position: absolute;
    top: 35px;
    left: 118px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .iphone .text-wrapper-7 {
    position: absolute;
    width: 62px;
    top: 676px;
    left: 159px;
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #13bd2f;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  

  .iphone .text-input {
    width: 100%; /* Assure que l'input remplit le conteneur */
    height: 33px; /* Hauteur standard */
    font-family: "Outfit-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 13px;
    padding: 0 10px;
}

.iphone .text-input::placeholder {
    color: #aaa; /* Style pour le texte de l'placeholder */
}

.iphone .text-input:focus {
    border: 1px solid #666; /* Ajoute une bordure lors du focus pour mettre en évidence le champ actif */
    background-color: #fff; /* Change le fond pour indiquer l'activité */
}
