.placeholder-image {
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  left: 10%;
  top: 15vh;
}

.placeholder-image2 {
  position: absolute;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  left: 10%;
  top: 50vh;
}

.connexion {
  top: 25vh;
}

.overlap {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre l'image parfaitement dans le logo-background */
  background-color: #d9d9d9;
  border-radius: 20px; /* Ajoute des coins arrondis de 20px */
  width: 25%;
  height: 3em;
}

.align{
  top : 35vh;
}

.align2{
  top : 45vh;
}

.align3{
  top : 55vh;
}

.align4{
  top : 65vh;
}

.align5{
  top : 75vh;
}

.text-input {
  width: 100%; /* Take up all available space in the container */
  height: 100%; /* Full height to match the container */
  border: none; /* Remove default border */
  background-color: transparent; /* Transparent background */
  border-radius: 20px; /* Rounded corners like the container */
  padding: 0 20px; /* Padding on left and right */
  font-family: "Outfit-Bold", Helvetica;
  font-size: 1vw; /* Matching font size */
  color: #000; /* Text color */
}

.info{
  text-align: center;
  padding-top: 1em;
}

.button{
  width: 145px; /* Largeur fixe pour chaque bouton */
  height: 51px; /* Hauteur fixe pour chaque bouton */
  background: #9190DC;
  border-radius: 42px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 51px; /* Alignement vertical du texte à l'intérieur du bouton */
  cursor: pointer; /* Change le curseur en main quand survolé */
  text-decoration: none;
}

.button-container {
  display: flex; /* Utilise flexbox pour aligner les éléments fils */
  justify-content: space-evenly; /* Répartit l'espace également entre les éléments */
  align-items: center; /* Centre les éléments verticalement */
  width: 390px; /* Définissez la largeur pour contenir les deux boutons */
  left: 50%;
  transform: translate(-50%, -50%); /* Centre l'image parfaitement dans le logo-background */
  top: 77vh; /* Ajustez cette valeur en fonction de la position souhaitée dans le conteneur principal */
  align-content: center;
}

.button-container2 {
  position: absolute;
  display: flex; /* Utilise flexbox pour aligner les éléments fils */
  justify-content: space-evenly; /* Répartit l'espace également entre les éléments */
  align-items: center; /* Centre les éléments verticalement */
  width: 390px; /* Définissez la largeur pour contenir les deux boutons */
  left: 50%;
  transform: translate(-50%, -50%); /* Centre l'image parfaitement dans le logo-background */
  top: 84vh; /* Ajustez cette valeur en fonction de la position souhaitée dans le conteneur principal */
  align-content: center;
}

.avatar{
  width: 100%; /* Take up all available space in the container */
  height: 100%; /* Full height to match the container */
  border: none; /* Remove default border */
  background-color: transparent; /* Transparent background */
  border-radius: 20px; /* Rounded corners like the container */
  padding: 0 0px; /* Padding on left and right */
  font-family: "Outfit-Bold", Helvetica;
  font-size: 1vw; /* Matching font size */
  color: #000; /* Text color */
  bottom: 1vh;
}

@media screen and (max-width: 700px) {
  .connexion {
    font-size: 40px;
  }

  .overlap{
    width: 282px;
    height: 39px;
  }
  .overlap-2{
    width: 282px;
    height: 39px;
  }

  .placeholder-image{
    max-width: 25%;
    height: auto;
  }
}